<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Day16.Rules_Data_Provider"/>
      <class name="Day16.Utility"/>
      <class name="Day16.Register"/>
      <class name="Day16.DataProviderTest"/>
      <class name="Day16.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
